@model List<Exercise>

@await Html.PartialAsync("GameMenu")

<h3>Exersises</h3>

@foreach (var item in Model) 
{ 
<div class="row">
    <div class="col-2">
        @item.Id
    </div>
    <div class="col-2">
        @item.Name
    </div>
    <div class="col-2">
        @item.UserId
    </div>
</div>
}