<topmenu>
    <div class="container">
        <div class="row">
            <div class="col">
                <a asp-controller="game" asp-action="index">Games</a>                
            </div>
            <div class="col">                
                <a asp-controller="exercise" asp-action="index">Exercise</a>
            </div>
        </div>
    </div>
</topmenu>