<topmenu>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <a class="btn btn-primary" asp-controller="game" asp-action="index">Игры</a>
            </div>
            <div class="col-2">
                <a class="btn btn-primary" asp-controller="taskpoint" asp-action="index">Задания</a>
            </div>
        </div>
    </div>
</topmenu>