<form method="post">    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <img width="100%" src="https://klike.net/uploads/posts/2019-02/1550472288_1.jpg" alt="Приветствие" />
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-8" align="center">
                <h5><br>Добро пожаловать на квест портал!!<br></h5>
            </div>
        </div>

        @*<div class="row justify-content-center">
            <div class="col-sm-8">
                <input class="form-control" type="text" name="username" />
            </div>
        </div>*@

        <div class="row justify-content-center">
            <div class="col-sm-8" align="center">
                <!--<button class="btn btn-success"--> @*type="submit"*@ <!--asp-controller="Account" asp-action="Login">Войти</button>-->
                <a class="btn btn-success" asp-controller="Account" asp-action="Login">Войти</a>
            </div>
        </div>
    </div>    
</form>