@model User

<div class="row">
    <img class="card-img-top" src="https://ds05.infourok.ru/uploads/ex/0be1/000d7960-b82ecb3b/hello_html_m2f5de52c.jpg" alt="Приветствие" />
</div>

@*"Привет ИмяПользователя"*@
<h5>Привет @Model.UserName</h5>

@*Правила/описание*@

@*Кнопка "Начать"*@