
    <div>
        <h3>Ошибка регистрации</h3>
    </div>
        
    <div>
        <a asp-controller="Account" asp-action="Login">Войти</a>
    </div>

    <div>
        <a asp-controller="Account" asp-action="Register">Регистрация</a>
    </div>
