@await Html.PartialAsync("GameMenu")

<form method="post">
    <div>
        <h3>Новая игра</h3>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Название игры:</label>
        </div>
        <div class="col-2">
            <input class="form-control" type="text" name="name" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Описание игры:</label>
        </div>
        <div class="col-2">
            <input class="form-control" type="text" name="description" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Имя игрока:</label>
        </div>
        <div class="col-2">
            <input class="form-control" type="text" name="GamerName" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-2">
            <label>Ссылка на картинку:</label>
        </div>
        <div class="col-2">
            <input class="form-control" type="text" name="ImagePath" />
        </div>
    </div>    

    <div class="row">
        <div class="col-2">
            <label>Доступно всем:</label>
        </div>
        <div class="col-2">
            <input class="form-check-input" type="checkbox" name="Share" checked enabled>
        </div>
    </div>

    <div>
        <button class="btn btn-success" type="submit" asp-controller="Game" asp-action="Add">Добавить</button>
    </div>
</form>