<form method="post">
    <div>
        <h3>Новое Задание</h3>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Название задания:</label>
        </div>
        <div class="col-2">
            <input class="form-control" type="text" name="name" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Описание задания:</label>
        </div>
        <div class="col-2">
            <input class="form-control" type="text" name="description" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Вопрос:</label>
        </div>
        <div class="col-2">
            <input class="form-control" type="text" name="question" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Ответ:</label>
        </div>
        <div class="col-2">
            <input class="form-control" type="text" name="answer" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Ссылка на картинку:</label>
        </div>
        <div class="col-2">
            <input class="form-control" type="text" name="ImagePath" />
        </div>
    </div>

    <div>
        <button class="btn btn-success" type="submit" asp-controller="TaskPoint" asp-action="Add">Добавить</button>
    </div>
</form>